html{
  margin: 30px 40px 0px 40px;
  min-width: 150px;
}
@media (min-width: 800px) {
  html{
    margin: 30px 100px 0px 100px;

  }
}
header{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}
.logo{
  width: 200px;
}

@media (min-width: 800px) {
  .logo{
    width: 400px;
    }


  }
  .form-control{
    background-color: lightgray;
  }



  .rounded{
    border: 0px;
    position: relative;
    
  }
  .rounded i{
    position: absolute;
    right: 10px;
    top: 18px;
    z-index: 10;
    cursor: pointer;
    
  }

  #search-addon{
    background-color: lightgray;
    cursor: pointer;
  }
  
  .form-control{
    padding: 0.575rem 0.75rem;
    height: 50px;

  }

  .rounded::placeholder{
    color: #ADADAD;
    
  }
  .form-control:focus {
    box-shadow: 0 0 0 0.1rem #D0504F;
    border-radius: 0px 0px 0px 0px;
  }
    .activeFilter li{
      border-radius: 5px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 30px;
      color: white;
      padding: 7px;

    }
    .activeFilter p{
      margin: 0px;
      padding: 0px;
    }
    .activeFilter img{
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .activeFilter{
    margin-top: 20px;
  }

  .activeFilter ul{
    padding: 0;
    font-size: 13px;
    display: flex;
    gap: 10px;
  }

  .filtersClose{
    display: flex;
    flex-direction: column;

  }

  .filterContainer button{
    width: 100%;
   border: none;
   height: 45px;
   color: white;
   font-size: 15px;
   font-weight: 500;
   position: relative;
  }

  @media (min-width: 800px) {
    .filterContainer button{
      width: 110px;
      height: 50px;
      border-radius: 3px;
      display: flex;
      flex-direction: row;
      gap: 15px;
  
    }
      }


  .filterContainer img{
    width: 13px;
    height: 13px;
    position: absolute;
    right: 20px;
    top: 18px;
   }

@media (min-width: 800px) {
  .filterContainer{
    display: flex;
    flex-direction: row;
    gap: 15px;
    

  }
  .filterContainerRelative{
    display: flex;
    position: absolute;
    gap: 20px;
  }
    }
    @media (min-width: 800px) {
      .filterContainer button{
        display: flex;
        align-items: center; 
        font-size: 12px;
        font-weight: 500;
        padding-left: 12px;
     


      }
      .filterContainer img{
          right: 10px;
      }
        }
        


        /* **********************************************/
        .filtersOpen {
          border-radius: 3px;
          position: relative;

        }
        .filtersOpen ul {
          display: grid;
          grid-template-columns: repeat(3,1fr);
          color: white;
          list-style: none;
          padding: 0;
          margin-left: 15px;
          font-size: 13px;
          font-weight: 400;
          padding-bottom: 12px;
          padding-right: 15px;
          max-height: 400px;
          overflow-y: scroll;
        }
        .filtersOpen ul::-webkit-scrollbar {
          width: 0.5em;
          background-color: #F5F5F5;
        }
        
        /* Curseur de la barre de défilement */
        .filtersOpen ul::-webkit-scrollbar-thumb {
          background-color: lightgray;
          border-radius: 10px;
        }
        
        /* Curseur de la barre de défilement lorsqu'il est activé */
        .filtersOpen ul::-webkit-scrollbar-thumb:hover {
          background-color: #555;
        }

        .filtersOpen li {
          word-wrap: none;
          cursor: pointer;
        }
        .filtersOpen input {
          border: none;
          outline: none;
          margin-bottom: 10px;
          margin-top: 15px;
          margin-left: 12px;
          font-size: 13px;
          color: white;

        }
        .filtersOpen img{
          position: absolute;
          right: 10px;
          cursor: pointer;
        }


        @media (min-width: 800px) {
          .filtersOpen ul {
            column-gap: 16px;
        
          }
            }

        .blue input{
          background-color: #3282F7;

        }
        .green input{
          background-color: #68D9A4;

        }
        .red input{
          background-color: #D0504F;

        }

        .blue input::placeholder {
          color: #98C0FB;
        }
        .green input::placeholder {
          color: #e2e7e5;
        }
        .red input::placeholder {
          color: #dda8a8;
        }

    .blue{
      background-color: #3282F7;
    }
    .green{
      background-color: #68D9A4;
    }
    .red{
      background-color: #D0504F;
    }




    /********************************************************** */
  


    .cardOne{
      margin-bottom: 40px;
      width: 100%;
      height: 300px;
      background-color: lightgray;

    }

.recipeContainer{
  margin-top: 100px;
}
.bgimg{
  width: 100%;
  height: 50%;
  background-color: gray  ;
}



.cardBottomTop {
  display: flex;
  justify-content: space-between;
  padding: 17px 17px 0px 17px ;
  margin-bottom: 10px;


}
.cardBottomTop h2{
  font-size: 14px;
}

.timecontainer{
  display: flex;
  align-items: center;
  font-size: 14px

}

.timecontainer p{
  margin: 0;
  padding: 0;

}
.cardBottomBack{
  display: flex;
  justify-content: space-between;
}
.ingredientList{
  font-size: 10px;
}
.ingredientList ul {
  list-style: none;
}

.descriptionCard{
  font-size: 10px;
  width: 50%;
}

@media (min-width: 1000px) {
    .recipeContainer{
      display: flex;
      justify-content: center;
      gap: 71px;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .cardOne{
      width: 40%;


    }
    }


@media (min-width: 1200px) {
  .cardOne{
    width: 30%;


  }
  }

 .descriptionCard p{
  max-height: 75px;
  max-width: 90%;
  overflow: hidden;
  font-size: 9px;
  line-height: 1.4;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;

  
 }

 .ingredientList ul{
  max-height: 75px;
  overflow: hidden;
  margin: 0;
  padding-left: 18px;
  line-height: 1;


 }

